plugins:
  - consoleLogger
  - xmppPoster
  - pinboardPoster
  - sqliteSaver
  - consolePublisher
  - handlebarsS3Publisher

xmppPosterConfig:
  host: myxmppserver.com
  jid: blogbot@myxmppserver.com
  password: my-awesome-password
  authorized: me@myxmppserver.com

pinboardPosterConfig:
  interval: 300

sqliteSaverConfig:
  db: /tmp/posts.db

handlebarsS3PublisherConfig:
  postsPerPage: 50
  index: index.html
  bucket: mysweetmicroblog.com
  awsKey: MYACCESSKEYID
  awsSecret: MYSECRETACCESSKEY
  awsRegion: us-east-1
