plugins:
  - consoleLogger
  - xmppPoster
  - pinboardPoster
  - tcpPoster
  - sqliteSaver
  - imageProcessor
  - retweetProcessor
  - lilurlProcessor
  - htmlizeProcessor
  - userLinkProcessor
  - handlebarsS3Publisher

xmppPosterConfig:
  host: myxmppserver.com
  jid: blogbot@myxmppserver.com
  password: my-awesome-password
  authorized: me@myxmppserver.com

pinboardPosterConfig:
  interval: 300
  tag: asublog
  user: myusername
  userToken: MYPINBOARDAUTHTOKEN

tcpPosterConfig
  port: 4962

sqliteSaverConfig:
  db: /tmp/posts.db

handlebarsS3PublisherConfig:
  postsPerPage: 20
  theme: asutwit
  bucket: mysweetmicroblog.com
  awsKey: MYACCESSKEYID
  awsSecret: MYSECRETACCESSKEY
  awsRegion: us-east-1
  cloudfrontDistId: MYCLOUDFRONTDISTID
  hashtags: true
  tz: America/Chicago
  siteUrl: http://mymicroblog.com
  siteName: as&micro;Blog
  siteCreated: 1/15/2017
  userName: Author
  userLinkName: Source Code
  userLinkUrl: https://github.com/rudism/asublog
  siteDescription: as&micro;Blog is the Antisocial Microblogging framework, a self-hosted static-site microblog generator.
  location: Earth, Sol, Milky Way

lilurlProcessorConfig:
  url: mylilurl.com

htmlizeProcessorConfig:
  allowNewlines: true

userLinkProcessorConfig:
  _autoTwitter: true
  rudism: https://status.rudism.com
